# Use this srx/lib/Env.ts file for managing environment variables in the project.

ANALYZE=false # toggle bundle analyzer
NEXT_PUBLIC_BACKEND_URL=https://example.com # Backend URL
NEXT_PUBLIC_FRONTEND_URL=https://example.com # Frontend URL
NEXT_PUBLIC_SENTRY_DSN=https://example.com/sentry_dsn
NODE_ENV='development'

